<header>
    <div class="header-top">
      <div class="siteName">
      <img src="/images/site/logo.jpg" height="30px" alt="REV Motors" />
      </div>
      <div class="account">
        <a href="/account">My Account</a>
      </div>
    </div>
  </header>