<nav>
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="#" title="Custom page">Custom</a></li>
        <li><a href="#" title="Sedan page">Sedan</a></li>
        <li><a href="#" title="SUV page">SUV</a></li>
        <li><a href="#" title="Truck page">Truck</a></li>
    </ul>
</nav>