<section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade-list">
      <div class="upgrade-item">
        <img src="/images/upgrades/flux-cap.jpg"  height="10px" alt="Flux Capacitor">
        <h3>Flux Capacitor</h3>
      </div>
      <div class="upgrade-item">
        <img src="/images/upgrades/flame.jpg"  height="10px" alt="Flame Decals">
        <h3>Flame Decals</h3>
      </div>
      <div class="upgrade-item">
        <img src="/images/upgrades/bumper_sticker.jpg"  height="10px" alt="Bumper Stickers">
        <h3>Bumper Stickers</h3>
      </div>
      <div class="upgrade-item">
        <img src="/images/upgrades/hub-cap.jpg" height="10px" alt="HUD Caps">
        <h3>HUD Caps</h3>
      </div>
    </div>
  </section>