<!DOCTYPE html>
<html lang="en">
    <div class="container">
        <div class="wrapper">
            <% include('../partials/head') %>
            <body>
               <div>
                        <% include('../partials/header') %>
                        <% include('../partials/navigation') %>
            
                        <main>
                            <%- body %>
                        </main>
                        
                        <% include('../partials/footer') %>
                </div>
            </body>
        </div>
    </div>

</html>